<h2>Edit Comment</h2>
<%= render 'form' %>
<!-- app/views/comments/edit.html.erb -->
<%#= form_for([@post.topic, @post, @comment]) do |f| %>
  <%#= f.text_area :content, placeholder: 'Edit your comment...' %>
  <%#= f.submit 'Update Comment' %>
<%# end %>
